.search_wrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .search_label {
    font-weight: 500;
    font-size: 17px;
  }
  .input_box {
    background: rgb(244, 244, 244);
    border: none;
    min-height: 28px;
    border-radius: 4px;
    color: black;
    font-size: 12px;
    padding: 4px;
  }
}
.data-card_wrapper {
  margin-top: 20px;
  border: 1px solid black;
  padding: 5px;
  overflow: auto;
  height: 600px;
  .data-card {
    border-bottom: 1px solid #eee;
    padding: 10px;
  }
}
